---
import { Image } from 'astro:assets';
import sliderImg2 from '../assets/sliders/2.png';
import sliderImg3 from '../assets/sliders/3.png';

const images = [
  { src: sliderImg2, alt: 'A serene view of a holy site for pilgrimage.' },
  { src: sliderImg3, alt: 'Pilgrims gathered for a religious ceremony.' },
];
---
<section 
  x-data="{ activeSlide: 0, slideCount: 2 }" 
  x-init="() => { setInterval(() => { activeSlide = (activeSlide + 1) % slideCount }, 7000) }"
  class="relative h-[60vh] md:h-[70vh] lg:h-[85vh] overflow-hidden"
>
  <!-- <div class="absolute inset-0 bg-black opacity-30 z-10"></div> -->

  {images.map((image, index) => (
    <div 
      x-show={`activeSlide === ${index}`}
      x-transition:enter="transition-opacity ease-in-out duration-1000"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition-opacity ease-in-out duration-1000"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="absolute inset-0 w-full h-full"
    >
      <Image 
        src={image.src}
        alt={image.alt}
        class="w-full h-full object-cover object-center"
        loading="eager"
        quality="max"
      />
    </div>
  ))}

  <!-- Navigation Dots -->
  <div class="absolute bottom-5 z-20 w-full flex justify-center items-center space-x-3">
    {images.map((_, index) => (
      <button
        type="button"
        @click={`activeSlide = ${index}`}
        class="w-3 h-3 rounded-full transition-colors duration-300"
        class:list={[
          `group`,
          { 'bg-black': `activeSlide === ${index}`, 'bg-black/50 hover:bg-black': `activeSlide !== ${index}` }
        ]}
        aria-label={`Go to slide ${index + 1}`}
      ></button>
    ))}
  </div>

  <!-- <div class="relative z-20 flex flex-col items-center justify-center h-full text-center text-white p-4">
    <h1 class="text-4xl md:text-6xl font-bold tracking-tight mb-4 text-shadow">
      Votre Voyage Spirituel Commence Ici
    </h1>
    <p class="text-lg md:text-2xl max-w-3xl text-shadow-md">
        Découvrez nos destinations et accomplissez votre pèlerinage avec sérénité.
    </p>
  </div> -->
</section>

<style>
  /* .text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  .text-shadow-md {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  } */
</style>